{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <a href="{{ path('homepage') }}" class="label label-info">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Revenir à la page d'accueil
        </a>
        <br>
        <a href="{{ path('category_show', {'id' : question.category.id }) }}" class="label label-info">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Revenir à la catégorie
        </a>

        <h1>{{ question.statement }}</h1>

        <a href="{{ path('answer_add', {'id' : question.id }) }}" class="alert alert-info col-md-12">
            <i class="glyphicon glyphicon-plus"></i>&nbsp;Ajouter une réponse
        </a>

        <table class="table-striped table-bordered table table-hover">
            <thead>
                <tr>
                    <th>
                        Intitulé
                    </th>
                    <th>
                        Véracité
                    </th>
                    <th>
                        Modifier
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for answer in question.answers %}
                    <tr>
                        <td>
                            {{ answer.statement }}
                        </td>
                        <td>
                            {% if answer.veracity %}
                                <span class="label label-success">Vrai</span>
                            {% else %}
                                <span class="label label-danger">Faux</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('answer_edit', {'id' : answer.id }) }}" class="btn btn-xs btn-primary">
                                <i class="glyphicon glyphicon-wrench"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
