{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}

    <div class="container">

        <a href="{{ path('homepage') }}" class="label label-info">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Revenir à la page d'accueil
        </a>
        <br>
        <a href="{{ path('question_show', {'id' : answer.question.id }) }}" class="label label-info">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Revenir à la question
        </a>

        <h1>Ajouter une réponse</h1>

        {{ form_start(form) }}

            {{ form_row(form.statement) }}
            {{ form_row(form.veracity) }}

        <button class="btn btn-info" type="submit">Valider</button>
        {{ form_end(form) }}


    </div>

{% endblock %}
