<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Symfony Certification</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catégories&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('category_list') }}">
                                <i class="glyphicon glyphicon-th-list"></i>&nbsp;Liste des catégories
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('category_add') }}">
                                <i class="glyphicon glyphicon-plus"></i>&nbsp;Ajouter une catégorie
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="glyphicon glyphicon-user"></i>&nbsp;{{ app.user }}&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if not app.user %}
                        <li>
                            <a href="{{ path('fos_user_registration_register') }}">
                                <i class="glyphicon glyphicon-user"></i>&nbsp;S'inscrire
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">
                                <i class="glyphicon glyphicon-log-in"></i>&nbsp;Se connecter
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{{ path('fos_user_profile_show') }}">
                                <i class="glyphicon glyphicon-user"></i>&nbsp;Mon profil
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                <i class="glyphicon glyphicon-log-out"></i>&nbsp;Se déconnecter
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
