{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}

    <div class="container">

        <a href="{{ path('homepage') }}" class="label label-info">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Revenir à la page d'accueil
        </a>

        <h2>Configurer mon quiz</h2>

        {{ form_start(form) }}

        {{ form_row(form.category) }}
        {{ form_row(form.questionAmount) }}

        <button class="btn btn-lg btn-success" type="submit">Valider ma configuration</button>
        {{ form_end(form) }}

        <hr>

        <h2>All random</h2>

        <a class="btn btn-lg btn-danger" href="{{ path('quiz_random') }}">Test me !</a>

    </div>

{% endblock %}
