{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <a href="{{ path('homepage') }}" class="label label-info">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Revenir à la page d'accueil
        </a>

        <h1>Correction</h1>

        <br>
        Vous avez <span class="label label-danger">{{ quiz.badAnswersCount }}</span> mauvaises réponses et
        <span class="label label-success">{{ quiz.goodAnswersCount }}</span> bonnes réponses sur
        <span class="label label-warning">{{ quiz.expectedGoodAnswersCount }}</span> bonnes réponses attendues.

        {% for question in questions %}
            <hr>
            <div><strong>Question : </strong>{{ question.statement }}</div>
            <div>
                <strong>Vos réponses : </strong>
                {% for answer in question.givenAnswers %}
                    <br>
                    {% if answer.true %}
                        <i class="glyphicon glyphicon-ok text-success"></i>
                    {% else %}
                        <i class="glyphicon glyphicon-remove text-danger"></i>
                    {% endif %}
                    {{ answer }}

                {% endfor %}
                <br>
                {% if question.rightButNotGivenAnswers is not empty %}
                    <strong>Les autres réponses attendues étaient : </strong>
                    {% for answer in question.rightButNotGivenAnswers %}
                        <br>
                        <i class="glyphicon glyphicon-ok text-success"></i>
                        {{ answer }}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}

        <br>

        <a href="{{ path('quiz_configure') }}" class="btn btn-info">
            <i class="glyphicon glyphicon-chevron-right"></i>
            Autre quiz
        </a>

        <a href="{{ path('fos_user_profile_show') }}" class="btn btn-info">
            <i class="glyphicon glyphicon-chevron-right"></i>
            Mon profil
        </a>


    </div>

{% endblock %}
